In [4]:
import pandas as pd
import os

In [ ]:

folder_path = r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\dataset\\scaped_data"

output_csv = os.path.join(folder_path, "rating_distributions_summary.csv")


csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]


summary_data = []

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)

    if 'Review Score' in df.columns: 
        total_reviews = len(df)
        rating_counts = df['Review Score'].value_counts().sort_index()  
        rating_percentages = (rating_counts / total_reviews * 100).round(2) 

        row = {
            "Destination Title": file.replace(".csv", ""),
            "Total Reviews (Destination)": total_reviews,
            "1 Star %": rating_percentages.get(1, 0.0),
            "2 Star %": rating_percentages.get(2, 0.0),
            "3 Star %": rating_percentages.get(3, 0.0),
            "4 Star %": rating_percentages.get(4, 0.0),
            "5 Star %": rating_percentages.get(5, 0.0),
        }
        summary_data.append(row)
    else:
        print(f"\nFile {file} does not have 'Review Score' column.")


summary_df = pd.DataFrame(summary_data)


overall_avg = summary_df[["1 Star %", "2 Star %", "3 Star %", "4 Star %", "5 Star %"]].mean().round(2)
overall_row = {
    "Destination Title": "Overall Average",
    "Total Reviews (Destination)": summary_df["Total Reviews (Destination)"].sum(),
    "1 Star %": overall_avg["1 Star %"],
    "2 Star %": overall_avg["2 Star %"],
    "3 Star %": overall_avg["3 Star %"],
    "4 Star %": overall_avg["4 Star %"],
    "5 Star %": overall_avg["5 Star %"],
}
summary_df = pd.concat([summary_df, pd.DataFrame([overall_row])], ignore_index=True)

summary_df.to_csv(output_csv, index=False, encoding="utf-8-sig")

print(f"\n✅ Rating distribution summary saved to: {output_csv}")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\\\NIBM\\\\Travel recommendation system\\\\Travel-Recommendation-system-in-Sri-Lanka-\\\\dataset\\\\scaped_data'

In [ ]:
df = pd.read_csv("C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\dataset\\rating_distributions_summary.csv")

In [ ]:
df

,Destination Title,Total Reviews (Destination),1 Star %,2 Star %,3 Star %,4 Star %,5 Star %
0,Abayagiriya Stupa,273,0.73,0.73,11.36,31.50,55.68
1,Aberdeen Falls,32,0.00,0.00,0.00,12.50,87.50
2,Alagalla Mountain Range,22,0.00,0.00,0.00,31.82,68.18
3,Aluvihara Rock Cave Temple,181,1.10,3.87,8.84,39.78,46.41
4,Ambuluwawa Tower,40,0.00,7.50,10.00,25.00,57.50
...,...,...,...,...,...,...,...
215,Wilpattu National Park,500,3.40,6.40,12.60,23.40,54.20
216,World's End,102,1.96,2.94,8.82,29.41,56.86
217,Yala National Park,63,17.46,11.11,15.87,14.29,41.27
218,Yapahuwa Rock Fortress,85,0.00,0.00,4.71,30.59,64.71
219,Overall Average,40805,3.49,3.29,11.81,29.74,51.67

In [ ]:
df['Review_Group'] = df['Total Reviews (Destination)']

In [ ]:
df.describe()

,Total Reviews (Destination),1 Star %,2 Star %,3 Star %,4 Star %,5 Star %
count,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,370.954545,3.485273,3.291955,11.810091,29.739682,51.673273
std,2744.454749,6.782065,4.047211,9.032964,13.925679,19.985409
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,0.000000,0.000000,5.195000,23.550000,38.005000
50%,107.000000,1.200000,2.160000,10.095000,29.055000,51.420000
75%,356.000000,4.017500,4.327500,16.550000,37.690000,64.322500
max,40805.000000,53.850000,26.670000,50.000000,100.000000,100.000000

In [ ]:
summary_df['Review_Group'] = summary_df['Total Reviews (Destination)'].apply(
    lambda x: 'Low Reviews (<=250)' if x <= 250 else 'High Reviews (>250)'
)


df_low = summary_df[summary_df['Review_Group'] == 'Low Reviews (<=250)'].reset_index(drop=True)
df_high = summary_df[summary_df['Review_Group'] == 'High Reviews (>250)'].reset_index(drop=True)


print("Low Reviews Group (<=250):")
print(df_low[['Destination Title', 'Total Reviews (Destination)', 'Review_Group']])

print("\nHigh Reviews Group (>250):")
print(df_high[['Destination Title', 'Total Reviews (Destination)', 'Review_Group']])

Low Reviews Group (<=250):
                  Destination Title  Total Reviews (Destination)  \
0                    Aberdeen Falls                           32
1           Alagalla Mountain Range                           22
2        Aluvihara Rock Cave Temple                          181
3                  Ambuluwawa Tower                           40
4    Anawilundawa Wetland Sanctuary                           27
..                              ...                          ...
144               Weijantha Prasada                           82
145                  Weligama Beach                          185
146                     World's End                          102
147              Yala National Park                           63
148          Yapahuwa Rock Fortress                           85

            Review_Group
0    Low Reviews (<=250)
1    Low Reviews (<=250)
2    Low Reviews (<=250)
3    Low Reviews (<=250)
4    Low Reviews (<=250)
..                   ...
144  Low Reviews (<=250)
145  Low Reviews (<=250)
146  Low Reviews (<=250)
147  Low Reviews (<=250)
148  Low Reviews (<=250)

[149 rows x 3 columns]

High Reviews Group (>250):
                Destination Title  Total Reviews (Destination)  \
0               Abayagiriya Stupa                          273
1     Ancient City of Polonnaruwa                          500
2                      Arugam Bay                          335
3                   Bentota Beach                          500
4           Bluefield Tea Gardens                          500
..                            ...                          ...
66  Victoria Park of Nuwara Eliya                          500
67            Viharamahadevi Park                          500
68         Whale Watching Mirissa                          470
69         Wilpattu National Park                          500
70                Overall Average                        40805

           Review_Group
0   High Reviews (>250)
1   High Reviews (>250)
2   High Reviews (>250)
3   High Reviews (>250)
4   High Reviews (>250)
..                  ...
66  High Reviews (>250)
67  High Reviews (>250)
68  High Reviews (>250)
69  High Reviews (>250)
70  High Reviews (>250)

[71 rows x 3 columns]

In [ ]:
df_high.describe()

,Total Reviews (Destination),1 Star %,2 Star %,3 Star %,4 Star %,5 Star %
count,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000
mean,997.422535,2.921972,3.391690,12.593521,30.310423,50.782676
std,4792.503246,4.617460,3.109485,7.551079,9.414801,16.713831
min,253.000000,0.000000,0.000000,0.000000,1.350000,17.700000
25%,365.500000,0.745000,1.200000,7.000000,23.700000,35.800000
50%,470.000000,1.520000,2.090000,11.530000,29.060000,51.670000
75%,500.000000,3.400000,4.600000,16.590000,36.310000,64.445000
max,40805.000000,30.000000,13.910000,44.100000,54.010000,98.420000

In [ ]:
df_low.describe()

,Total Reviews (Destination),1 Star %,2 Star %,3 Star %,4 Star %,5 Star %
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,72.436242,3.753691,3.244430,11.436779,29.467718,52.097651
std,63.998978,7.599558,4.433697,9.660985,15.646136,21.408895
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,0.000000,3.600000,22.910000,39.390000
50%,47.000000,0.000000,2.230000,9.760000,29.050000,51.110000
75%,111.000000,4.440000,4.290000,16.420000,38.140000,63.640000
max,234.000000,53.850000,26.670000,50.000000,100.000000,100.000000

In [ ]:
df_high.shape

(71, 8)

In [ ]:
df_high.head(72)

,Destination Title,Total Reviews (Destination),1 Star %,2 Star %,3 Star %,4 Star %,5 Star %,Review_Group
0,Abayagiriya Stupa,273,0.73,0.73,11.36,31.50,55.68,High Reviews (>250)
1,Ancient City of Polonnaruwa,500,0.80,3.60,8.60,27.80,59.20,High Reviews (>250)
2,Arugam Bay,335,6.57,5.67,10.45,29.55,47.76,High Reviews (>250)
3,Bentota Beach,500,1.00,1.20,5.40,25.40,67.00,High Reviews (>250)
4,Bluefield Tea Gardens,500,1.00,2.40,14.60,40.20,41.80,High Reviews (>250)
...,...,...,...,...,...,...,...,...
66,Victoria Park of Nuwara Eliya,500,4.00,6.60,24.80,36.60,28.00,High Reviews (>250)
67,Viharamahadevi Park,500,0.40,1.80,13.20,47.80,36.80,High Reviews (>250)
68,Whale Watching Mirissa,470,21.06,10.21,14.68,21.28,32.77,High Reviews (>250)
69,Wilpattu National Park,500,3.40,6.40,12.60,23.40,54.20,High Reviews (>250)
70,Overall Average,40805,3.49,3.29,11.81,29.74,51.67,High Reviews (>250)

In [1]:
import os
import pandas as pd
import numpy as np
import math

In [ ]:
# input_folder = r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\dataset\updated_csvs"
input_folder = r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\dataset\\updated_csvs"

output_folder = r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\dataset\\final_data"

max_reviews = 250
min_keep_reviews = 10

In [ ]:
os.makedirs(output_folder, exist_ok=True)

for file in os.listdir(input_folder):
    if not file.endswith(".csv"):
        continue
    df = pd.read_csv(os.path.join(input_folder, file))
    
    total_reviews = df['Total Reviews (Destination)'].iloc[0]

    if total_reviews <= max_reviews:
        df.to_csv(os.path.join(output_folder, file), index=False)
        print(f"Saved {file} as-is, total reviews = {total_reviews}")
        continue

   
    downsampled_list = []

    # Count reviews per star
    star_counts = df['Review Score'].value_counts().to_dict()


    small_stars = {star: count for star, count in star_counts.items() if count < min_keep_reviews}
    for star, count in small_stars.items():
        downsampled_list.append(df[df['Review Score'] == star])

    # Remaining stars
    remaining_stars = [star for star in range(1, 6) if star not in small_stars]
    remaining_slots = max_reviews - sum(small_stars.values())
    remaining_total_reviews = sum(star_counts.get(star, 0) for star in remaining_stars)

 
    for star in remaining_stars:
        current_count = star_counts.get(star, 0)
        if current_count == 0:
            continue
      
        target_count = int(current_count / remaining_total_reviews * remaining_slots)
     
        target_count = min(target_count, current_count)
        sampled = df[df['Review Score'] == star].sample(n=target_count, random_state=42)
        downsampled_list.append(sampled)

    downsampled_df = pd.concat(downsampled_list).sample(frac=1, random_state=42).reset_index(drop=True)
    downsampled_df.to_csv(os.path.join(output_folder, file), index=False)
    
    print(f"Processed {file}: downsampled to {len(downsampled_df)} reviews")

Processed Aluvihara Rock Cave Temple.csv: downsampled to 181 reviews
Processed Ambewela Farms.csv: downsampled to 248 reviews
Saved Arisimale Beach.csv as-is, total reviews = 32
Saved Beddegana Wetland Park.csv as-is, total reviews = 40
Saved Buddhangala Monastery.csv as-is, total reviews = 28
Saved Christ Church Warleigh.csv as-is, total reviews = 65
Processed Colombo Fort Railway Station.csv: downsampled to 248 reviews
Processed Damro Labookellie Tea Centre and Tea Garden.csv: downsampled to 221 reviews
Saved Dehiwala Zoo Sri Lanka.csv as-is, total reviews = 55
Saved Devil_s_Staircase.csv as-is, total reviews = 34
Saved Diyaluma Falls.csv as-is, total reviews = 209
Saved Elephant Pass.csv as-is, total reviews = 138
Saved Ella Railway Station.csv as-is, total reviews = 127
Saved Gal Oya National Park.csv as-is, total reviews = 85
Saved Gartmore Falls.csv as-is, total reviews = 6
Saved Girihadu Seya.csv as-is, total reviews = 36
Processed Glenloch Tea Factory.csv: downsampled to 247 reviews
Saved Hadapanagala Lake.csv as-is, total reviews = 3
Saved Horton Plains Kalupahana Trail.csv as-is, total reviews = 29
Saved Hunnasgiriya Water Fall.csv as-is, total reviews = 19
Saved Isinbassagala.csv as-is, total reviews = 14
Saved Jaffna Market.csv as-is, total reviews = 66
Saved Jaffna Public Library.csv as-is, total reviews = 216
Saved Kabaragala Mountain.csv as-is, total reviews = 4
Saved Kala Wewa.csv as-is, total reviews = 2
Saved Kallady Beach.csv as-is, total reviews = 76
Saved Kalpitiya Kite Beach.csv as-is, total reviews = 1
Saved Kalu Ganga Reservoir.csv as-is, total reviews = 1
Processed Kalutara Bodhiya.csv: downsampled to 240 reviews
Saved Keeri Beach.csv as-is, total reviews = 4
Saved Kirindi Ella.csv as-is, total reviews = 10
Saved Kotmale Dam.csv as-is, total reviews = 33
Saved Lunugamvehera National Park.csv as-is, total reviews = 53
Saved Mahiyangana Raja Maha Viharaya.csv as-is, total reviews = 25
Processed Majestic City.csv: downsampled to 248 reviews
Saved Mannar Island.csv as-is, total reviews = 108
Saved Mawella Beach.csv as-is, total reviews = 46
Saved Mulkirigala rock temple.csv as-is, total reviews = 2
Saved Naguleswaram Temple.csv as-is, total reviews = 46
Saved Nanu Oya Railway Station.csv as-is, total reviews = 53
Processed Pedro Tea Factory.csv: downsampled to 248 reviews
Saved Pitamaruwa Mini Worlds End.csv as-is, total reviews = 3
Processed Royal Botanical Gardens.csv: downsampled to 249 reviews
Saved Sakkotai.csv as-is, total reviews = 8
Saved Samudra Parakrama.csv as-is, total reviews = 43
Saved Sella Kataragama Temple.csv as-is, total reviews = 52
Saved Shrine of Our Lady of Madhu.csv as-is, total reviews = 82
Saved Sorabora Lake.csv as-is, total reviews = 43
Saved Surathali Ella.csv as-is, total reviews = 6
Processed Thirukoneswaram Kovil.csv: downsampled to 249 reviews
Saved Thudugala Ella waterfall.csv as-is, total reviews = 51
Saved Udawalawe Dam.csv as-is, total reviews = 37
Saved Yatala Wehera.csv as-is, total reviews = 36

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
input_folder = r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\dataset\\final_data"

In [4]:
df = pd.read_csv(r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\dataset\\final_data\\Ambewela Farms.csv")

In [5]:
df.columns

Index(['Destination URL', 'Destination Title', 'Destination Score',
       'Total Reviews (Destination)', 'Destination Image', 'Reviewer Name',
       'Reviewer Location', 'Review Title', 'Review Score',
       'Reviewer Category', 'Review Text', 'Written Date'],
      dtype='object')

In [6]:
df['Reviewer Category'].value_counts()

Reviewer Category
Friends     50
Couples     48
Solo         7
Business     3
Family       2
Name: count, dtype: int64

In [7]:
df.isna().sum()

Destination URL                  0
Destination Title                0
Destination Score                0
Total Reviews (Destination)      0
Destination Image                0
Reviewer Name                    0
Reviewer Location                0
Review Title                   302
Review Score                     0
Reviewer Category              202
Review Text                      0
Written Date                     0
dtype: int64

In [ ]:
categories = ["Family", "Couples", "Solo", "Business", "Friends", "Missing"]

for fl in os.listdir(input_folder):
    if not fl.endswith(".csv"):
        continue

    file_path = os.path.join(input_folder, fl)
    df = pd.read_csv(file_path)


    df['Reviewer Category'] = df['Reviewer Category'].fillna("Missing")

  
    category_counts = df['Reviewer Category'].value_counts().to_dict()


    for c in categories:
        if c not in category_counts:
            category_counts[c] = 0

    total_reviews = len(df)


    category_percentages = {
        f"{c} %": (category_counts[c] / total_reviews) * 100
        for c in categories
    }

 
    percent_cols = [col for col in df.columns if col.endswith("%")]
    df.drop(columns=percent_cols, inplace=True, errors="ignore")

    for col_name, perc in category_percentages.items():
        df[col_name] = perc


    df.to_csv(file_path, index=False)
    print(f"Updated {fl} with reviewer category percentages (including Missing)")

Updated Aluvihara Rock Cave Temple.csv with reviewer category percentages (including Missing)
Updated Ambewela Farms.csv with reviewer category percentages (including Missing)
Updated Arisimale Beach.csv with reviewer category percentages (including Missing)
Updated Beddegana Wetland Park.csv with reviewer category percentages (including Missing)
Updated Buddhangala Monastery.csv with reviewer category percentages (including Missing)
Updated Christ Church Warleigh.csv with reviewer category percentages (including Missing)
Updated Colombo Fort Railway Station.csv with reviewer category percentages (including Missing)
Updated Damro Labookellie Tea Centre and Tea Garden.csv with reviewer category percentages (including Missing)
Updated Dehiwala Zoo Sri Lanka.csv with reviewer category percentages (including Missing)
Updated Devil_s_Staircase.csv with reviewer category percentages (including Missing)
Updated Diyaluma Falls.csv with reviewer category percentages (including Missing)
Updated Elephant Pass.csv with reviewer category percentages (including Missing)
Updated Ella Railway Station.csv with reviewer category percentages (including Missing)
Updated Gal Oya National Park.csv with reviewer category percentages (including Missing)
Updated Gartmore Falls.csv with reviewer category percentages (including Missing)
Updated Girihadu Seya.csv with reviewer category percentages (including Missing)
Updated Glenloch Tea Factory.csv with reviewer category percentages (including Missing)
Updated Hadapanagala Lake.csv with reviewer category percentages (including Missing)
Updated Horton Plains Kalupahana Trail.csv with reviewer category percentages (including Missing)
Updated Hunnasgiriya Water Fall.csv with reviewer category percentages (including Missing)
Updated Isinbassagala.csv with reviewer category percentages (including Missing)
Updated Jaffna Market.csv with reviewer category percentages (including Missing)
Updated Jaffna Public Library.csv with reviewer category percentages (including Missing)
Updated Kabaragala Mountain.csv with reviewer category percentages (including Missing)
Updated Kala Wewa.csv with reviewer category percentages (including Missing)
Updated Kallady Beach.csv with reviewer category percentages (including Missing)
Updated Kalpitiya Kite Beach.csv with reviewer category percentages (including Missing)
Updated Kalu Ganga Reservoir.csv with reviewer category percentages (including Missing)
Updated Kalutara Bodhiya.csv with reviewer category percentages (including Missing)
Updated Keeri Beach.csv with reviewer category percentages (including Missing)
Updated Kirindi Ella.csv with reviewer category percentages (including Missing)
Updated Kotmale Dam.csv with reviewer category percentages (including Missing)
Updated Lunugamvehera National Park.csv with reviewer category percentages (including Missing)
Updated Mahiyangana Raja Maha Viharaya.csv with reviewer category percentages (including Missing)
Updated Majestic City.csv with reviewer category percentages (including Missing)
Updated Mannar Island.csv with reviewer category percentages (including Missing)
Updated Mawella Beach.csv with reviewer category percentages (including Missing)
Updated Mulkirigala rock temple.csv with reviewer category percentages (including Missing)
Updated Naguleswaram Temple.csv with reviewer category percentages (including Missing)
Updated Nanu Oya Railway Station.csv with reviewer category percentages (including Missing)
Updated Pedro Tea Factory.csv with reviewer category percentages (including Missing)
Updated Pitamaruwa Mini Worlds End.csv with reviewer category percentages (including Missing)
Updated Royal Botanical Gardens.csv with reviewer category percentages (including Missing)
Updated Sakkotai.csv with reviewer category percentages (including Missing)
Updated Samudra Parakrama.csv with reviewer category percentages (including Missing)
Updated Sella Kataragama Temple.csv with reviewer category percentages (including Missing)
Updated Shrine of Our Lady of Madhu.csv with reviewer category percentages (including Missing)
Updated Sorabora Lake.csv with reviewer category percentages (including Missing)
Updated Surathali Ella.csv with reviewer category percentages (including Missing)
Updated Thirukoneswaram Kovil.csv with reviewer category percentages (including Missing)
Updated Thudugala Ella waterfall.csv with reviewer category percentages (including Missing)
Updated Udawalawe Dam.csv with reviewer category percentages (including Missing)
Updated Yatala Wehera.csv with reviewer category percentages (including Missing)

In [2]:
df1 = pd.read_csv(r"C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\dataset\\final_data\\Aluvihara Rock Cave Temple.csv")

In [3]:
df1.head()

,Destination URL,Destination Title,Destination Score,Total Reviews (Destination),Destination Image,Reviewer Name,Reviewer Location,Review Title,Review Score,Reviewer Category,Review Text,Written Date,Family %,Couples %,Solo %,Business %,Friends %,Missing %
0,https://www.tripadvisor.com/Attraction_Review-...,Aluvihara Rock Cave Temple,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,Adventure Diva,"Manchester, Connecticut",An intriguing site,4,Friends,"Surrounded by giant boulders, this temple is a...","September 14, 2025",0.552486,38.121547,7.734807,1.657459,17.127072,34.80663
1,https://www.tripadvisor.com/Attraction_Review-...,Aluvihara Rock Cave Temple,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,Marcel J,"Zoetermeer, The Netherlands",Alivihara tempel,4,Couples,A very nice cave temple complex where there ar...,"January 8, 2025",0.552486,38.121547,7.734807,1.657459,17.127072,34.80663
2,https://www.tripadvisor.com/Attraction_Review-...,Aluvihara Rock Cave Temple,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,GLITTER TRAVELS (PVT) LTD,"Gampaha, Sri Lanka",explore Sri Lanka with GLITTER TRAVELS (PVT) LTD,5,Solo,Matale Aluvihare is a significant historical a...,"November 9, 2024",0.552486,38.121547,7.734807,1.657459,17.127072,34.80663
3,https://www.tripadvisor.com/Attraction_Review-...,Aluvihara Rock Cave Temple,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,Silvia C,"Turin, Italy",Temple in the rock,5,Friends,The climb is challenging but absolutely feasib...,"August 28, 2024",0.552486,38.121547,7.734807,1.657459,17.127072,34.80663
4,https://www.tripadvisor.com/Attraction_Review-...,Aluvihara Rock Cave Temple,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,charmi_13,"Brisbane, Australia",Hidden Gem 💎,4,Missing,I love this template. It is a hidden gem in Sr...,"May 20, 2024",0.552486,38.121547,7.734807,1.657459,17.127072,34.80663

In [ ]:
df1.columns

Index(['Destination URL', 'Destination Title', 'Destination Score',
       'Total Reviews (Destination)', 'Destination Image', 'Reviewer Name',
       'Reviewer Location', 'Review Title', 'Review Score',
       'Reviewer Category', 'Review Text', 'Written Date', 'Family %',
       'Couples %', 'Solo %', 'Business %', 'Friends %', 'Missing %'],
      dtype='object')