In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\NIBM\\Bridging Course\\Modules\\Ai Project\\dataset\\srilanka_destinations.csv", encoding="latin1")

In [3]:
df.head()

,Column1,Column2,Column3,Column4,Column5
0,Destination,Category,Subcategory,Review Counts,Links
1,Unawatuna Beach,Beaches & Coastal Destinations,South Coast,188,https://www.tripadvisor.com/Attraction_Review-...
2,Mirissa Beach,Beaches & Coastal Destinations,South Coast,3157,https://www.tripadvisor.com/Attraction_Review-...
3,Weligama Beach,Beaches & Coastal Destinations,South Coast,231,https://www.tripadvisor.com/Attraction_Review-...
4,Hikkaduwa Beach,Beaches & Coastal Destinations,South Coast,2425,https://www.tripadvisor.com/Attraction_Review-...

In [4]:
df.columns = df.iloc[0]
df = df[1:]

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df.head()

,Destination,Category,Subcategory,Review Counts,Links
0,Unawatuna Beach,Beaches & Coastal Destinations,South Coast,188,https://www.tripadvisor.com/Attraction_Review-...
1,Mirissa Beach,Beaches & Coastal Destinations,South Coast,3157,https://www.tripadvisor.com/Attraction_Review-...
2,Weligama Beach,Beaches & Coastal Destinations,South Coast,231,https://www.tripadvisor.com/Attraction_Review-...
3,Hikkaduwa Beach,Beaches & Coastal Destinations,South Coast,2425,https://www.tripadvisor.com/Attraction_Review-...
4,Dalawella Beach,Beaches & Coastal Destinations,South Coast,118,https://www.tripadvisor.com/Attraction_Review-...

In [7]:
df.shape

(404, 5)

In [8]:
df.isna().sum()

0
Destination        0
Category           0
Subcategory        0
Review Counts      0
Links            176
dtype: int64

In [9]:
df

,Destination,Category,Subcategory,Review Counts,Links
0,Unawatuna Beach,Beaches & Coastal Destinations,South Coast,188,https://www.tripadvisor.com/Attraction_Review-...
1,Mirissa Beach,Beaches & Coastal Destinations,South Coast,3157,https://www.tripadvisor.com/Attraction_Review-...
2,Weligama Beach,Beaches & Coastal Destinations,South Coast,231,https://www.tripadvisor.com/Attraction_Review-...
3,Hikkaduwa Beach,Beaches & Coastal Destinations,South Coast,2425,https://www.tripadvisor.com/Attraction_Review-...
4,Dalawella Beach,Beaches & Coastal Destinations,South Coast,118,https://www.tripadvisor.com/Attraction_Review-...
...,...,...,...,...,...
399,Mahinda Rajapaksa International Cricket Stadium,International Sports Grounds,Grounds,9,https://www.tripadvisor.com/Attraction_Review-...
400,Paikiasothy Saravanamuttu Stadium,International Sports Grounds,Grounds,2,https://www.tripadvisor.com/Attraction_Review-...
401,Pallekele International Cricket Stadium,International Sports Grounds,Grounds,97,https://www.tripadvisor.com/Attraction_Review-...
402,Rangiri Dambulla International Stadium,International Sports Grounds,Grounds,19,https://www.tripadvisor.com/Attraction_Review-...
403,R. Premadasa Stadium,International Sports Grounds,Grounds,187,https://www.tripadvisor.com/Attraction_Review-...

In [10]:
df['Review Counts'].isna().sum()

np.int64(0)

In [11]:
(df["Review Counts"] == 0).sum()

np.int64(0)

In [12]:
df.isna().sum()

0
Destination        0
Category           0
Subcategory        0
Review Counts      0
Links            176
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.shape

(228, 5)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 0 to 403
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Destination    228 non-null    object
 1   Category       228 non-null    object
 2   Subcategory    228 non-null    object
 3   Review Counts  228 non-null    object
 4   Links          228 non-null    object
dtypes: object(5)
memory usage: 10.7+ KB

In [16]:
df["Review Counts"] = pd.to_numeric(df["Review Counts"], errors="coerce")

In [17]:
bins = [
    0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500,
    600, 700, 800, 1000, 1500, 2000, float("inf")
]
labels = [
    "less_50",
    "51-100",
    "101-150",
    "151-200",
    "201-250",
    "251-300",
    "301-350",
    "351-400",
    "401-450",
    "451-500",
    "501-600",
    "601-700",
    "701-800",
    "801-1000",
    "1001-1500",
    "1501-2000",
    "2000_plus"
]
df["Review_Group"] = pd.cut(df["Review Counts"], bins=bins, labels=labels, right=True, include_lowest=True)

In [18]:
df.head()

,Destination,Category,Subcategory,Review Counts,Links,Review_Group
0,Unawatuna Beach,Beaches & Coastal Destinations,South Coast,188,https://www.tripadvisor.com/Attraction_Review-...,151-200
1,Mirissa Beach,Beaches & Coastal Destinations,South Coast,3157,https://www.tripadvisor.com/Attraction_Review-...,2000_plus
2,Weligama Beach,Beaches & Coastal Destinations,South Coast,231,https://www.tripadvisor.com/Attraction_Review-...,201-250
3,Hikkaduwa Beach,Beaches & Coastal Destinations,South Coast,2425,https://www.tripadvisor.com/Attraction_Review-...,2000_plus
4,Dalawella Beach,Beaches & Coastal Destinations,South Coast,118,https://www.tripadvisor.com/Attraction_Review-...,101-150

In [19]:
df['Review_Group'].value_counts().sort_index()

Review_Group
less_50      58
51-100       34
101-150      24
151-200      15
201-250       7
251-300      12
301-350       6
351-400       3
401-450       4
451-500       8
501-600       6
601-700       8
701-800       3
801-1000      6
1001-1500    10
1501-2000     2
2000_plus    22
Name: count, dtype: int64

In [20]:
less_200_df = df[df['Review Counts']<= 200]
less_200_df = less_200_df[["Destination", "Links"]]

In [21]:
less_200_df.shape

(131, 2)

In [22]:
in_201to_500_df = df[(df['Review Counts'] > 200) & (df['Review Counts'] <= 500)]
in_201to_500_df = in_201to_500_df[["Destination", "Links"]]

In [23]:
in_201to_500_df.shape

(40, 2)

In [24]:
plus_500_df = df[df['Review Counts'] > 500]
plus_500_df = plus_500_df[["Destination", "Links"]]

In [25]:
plus_500_df.shape

(57, 2)

In [26]:
chanuka_df = less_200_df.head(70)

In [27]:
sumudu_df = less_200_df.tail(61)

In [28]:
manjitha_df = in_201to_500_df

In [29]:
chalidu_df = plus_500_df

In [30]:
import os

In [31]:
output_path = r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\dataset"
chanuka_df.to_csv(f"{output_path}\\chanuka.csv", index=False)
sumudu_df.to_csv(f"{output_path}\\sumudu.csv", index=False)
manjitha_df.to_csv(f"{output_path}\\manjitha.csv", index=False)
chalidu_df.to_csv(f"{output_path}\\chalidu.csv", index=False)

In [32]:
chanuka_df.shape

(70, 2)

In [33]:
chanuka_df.isna().sum()

0
Destination    0
Links          0
dtype: int64

In [34]:
sumudu_df.shape

(61, 2)

In [35]:
sumudu_df.isna().sum()

0
Destination    0
Links          0
dtype: int64

In [36]:
manjitha_df.shape

(40, 2)

In [37]:
manjitha_df.isna().sum()

0
Destination    0
Links          0
dtype: int64

In [38]:
chalidu_df.shape

(57, 2)

In [39]:
chalidu_df.isna().sum()

0
Destination    0
Links          0
dtype: int64

In [40]:
chanuka_links = chanuka_df["Links"].tolist()

In [41]:
sumudu_links = sumudu_df["Links"].tolist()

In [42]:
manjitha_links = manjitha_df["Links"].tolist()

In [43]:
chalidu_links = chalidu_df["Links"].tolist()

In [44]:
len(chanuka_links)

70

In [45]:
with open(r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\text files\chanuka_links.txt", "w", encoding="utf-8") as f:
    for link in chanuka_links:
        f.write(link + "\n")

In [46]:
with open(r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\text files\sumudu_links.txt", "w", encoding="utf-8") as f:
    for link in sumudu_links:
        f.write(link + "\n")

In [47]:
with open(r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\text files\manjitha_links.txt", "w", encoding="utf-8") as f:
    for link in manjitha_links:
        f.write(link + "\n")

In [48]:
with open(r"C:\NIBM\Travel recommendation system\Travel-Recommendation-system-in-Sri-Lanka-\text files\chalidu_links.txt", "w", encoding="utf-8") as f:
    for link in chalidu_links:
        f.write(link + "\n")