In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:\\NIBM\\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Preparation\\document_data\\documents_updated.csv")
df2 = pd.read_csv("C:\\NIBM\Travel recommendation system\\Travel-Recommendation-system-in-Sri-Lanka-\\Data Scraper\\dataset\\srilanka_destinations.csv",encoding="latin1")

In [3]:
df1.head()

,Destination Title,Document Text,Destination Score,Total Reviews,Destination Image,Family %,Couples %,Solo %,Business %,Friends %,Missing %,destination_description,longitude,latitude,booking.com,agoda
0,Abayagiriya Stupa,Abayagiriya Stupa. When I visited this place t...,4.3,400,https://dynamic-media-cdn.tripadvisor.com/medi...,0.000000,39.759036,13.654618,2.008032,14.056225,30.522088,NaN,NaN,NaN,NaN,NaN
1,Aberdeen Falls,"Aberdeen Falls. Welcome to Aberdeen Falls, one...",4.9,33,https://dynamic-media-cdn.tripadvisor.com/medi...,0.000000,12.500000,3.125000,3.125000,34.375000,46.875000,NaN,NaN,NaN,NaN,NaN
2,Alagalla Mountain Range,Alagalla Mountain Range. A fascinating climb t...,4.7,25,https://dynamic-media-cdn.tripadvisor.com/medi...,0.000000,0.000000,4.545455,0.000000,68.181818,27.272727,NaN,NaN,NaN,NaN,NaN
3,Ella Rock,Ella Rock. We went there at the middle of our ...,4.3,285,https://dynamic-media-cdn.tripadvisor.com/medi...,21.546961,33.701657,7.734807,1.657459,15.469613,19.889503,NaN,NaN,NaN,NaN,NaN
4,Ambuluwawa Tower,Ambuluwawa Tower. Ambuluwawa Tower is truly un...,4.6,105,https://dynamic-media-cdn.tripadvisor.com/medi...,0.000000,35.000000,12.500000,2.500000,25.000000,25.000000,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.head()

0          Abayagiriya Stupa
1             Aberdeen Falls
2    Alagalla Mountain Range
3                  Ella Rock
4           Ambuluwawa Tower
Name: Destination Title, dtype: object

In [4]:
df2.head()

,Column1,Column2,Column3,Column4,Column5
0,Destination,Category,Subcategory,Review Counts,Links
1,Unawatuna Beach,Beaches & Coastal Destinations,South Coast,188,https://www.tripadvisor.com/Attraction_Review-...
2,Mirissa Beach,Beaches & Coastal Destinations,South Coast,3157,https://www.tripadvisor.com/Attraction_Review-...
3,Weligama Beach,Beaches & Coastal Destinations,South Coast,231,https://www.tripadvisor.com/Attraction_Review-...
4,Hikkaduwa Beach,Beaches & Coastal Destinations,South Coast,2425,https://www.tripadvisor.com/Attraction_Review-...

In [5]:
df2.columns = df2.iloc[0]
df2= df2[1:]

In [6]:
df2.reset_index(drop=True, inplace=True)

In [7]:
df2.isna().sum()

0
Destination        0
Category           0
Subcategory        0
Review Counts    234
Links            299
dtype: int64

In [8]:
df2.shape

(381, 5)

In [9]:
df2['Review Counts'].value_counts()

Review Counts
0       65
128      4
25       3
2950     2
56       2
        ..
296      1
255      1
86       1
3157     1
7        1
Name: count, Length: 69, dtype: int64

In [10]:
df2.isna().sum()

0
Destination        0
Category           0
Subcategory        0
Review Counts    234
Links            299
dtype: int64

In [11]:
df2['Destination']

0                  Unawatuna Beach
1                    Mirissa Beach
2                   Weligama Beach
3                  Hikkaduwa Beach
4                  Dalawella Beach
                  ...
376    Negombo Fish Market Complex
377                  Jaffna Market
378     Cargills Square â Jaffna
379                Manalkadu Beach
380           Kankesanthurai Beach
Name: Destination, Length: 381, dtype: object

In [ ]:

df1_titles = df1['Destination Title'].astype(str).str.strip()
df2_titles = df2['Destination'].astype(str).str.strip()

missing_destinations = df2_titles[~df2_titles.isin(df1_titles)]


missing_destinations = missing_destinations.drop_duplicates()

6                   Koggala Beach
7                  Ahangama Beach
8                    Matara Beach
18            Uswetakeiyawa Beach
19              Ambalangoda Beach
                  ...
371          Nelum Pokuna Theatre
372                         BMICH
374           Odel Mall â Kandy
377                 Jaffna Market
378    Cargills Square â Jaffna
Name: Destination, Length: 223, dtype: object

In [14]:
missing_destinations.tolist()

['Koggala Beach',
 'Ahangama Beach',
 'Matara Beach',
 'Uswetakeiyawa Beach',
 'Ambalangoda Beach',
 'Kalkudah Beach',
 'Kallady Beach',
 'Delft Island Beach',
 'Mannar Beach',
 'Silavathurai Beach',
 'Kalpitiya Kite Beach',
 'Kandakuliya Beach',
 'Uchchimuni Beach',
 'Marawila Beach',
 'Mawella Beach',
 'Dikwella Beach',
 'Kudiramalai Beach',
 'Elephant Pass Lagoon Area',
 'Puttalam Lagoon',
 'Kokkilai Lagoon',
 'Rekawa Beach',
 'Okanda Beach',
 'Red Frog Beach',
 'Kirinda Beach',
 'Dondra Beach',
 'Adamâ\x80\x99s Peak (Sri Pada)',
 'Little Adamâ\x80\x99s Peak',
 'Diyaluma  Falls',
 'Pedro Tea Estate',
 'Damro Tea Viewpoint',
 'Mackwoods Tea Centre',
 'Bible Rock (Bathalegala)',
 'Gombaniya Viewpoint',
 'Veheragala Mountain',
 'Riverston',
 'Belihuloya',
 'Namunukula Trail View',
 'Ohiya Gap View',
 'Great Western Mountain',
 'Udaweriya Tea Estate View',
 'Alawola Mountain View',
 'Nildiyasevana Cave View Area',
 'Knuckles Viewpoint (Deanston)',
 'Balangoda Scenic Valley',
 'Meemure Mountain Views',
 'Namunukula Tea Trails',
 'Diyathalawa Viewpoint',
 'Horton Mini Trail View',
 'Rakwana Hills Viewpoint',
 'Kithulgala Rafting',
 'Namunukula Pass',
 'Namunukula Forest Lookout',
 'Riverston Peak',
 'Ohiya Scenic Stop',
 'Ravana Falls',
 'Galpoththa Natural Water Slide',
 'Geradi Ella',
 'Dothalugala Falls',
 'Pareiyan Ella',
 'Elgin Falls',
 'Gartmore Falls',
 'Kirindi Ella',
 'Koslanda Falls',
 'Surathali Ella',
 'Thudugala Ella',
 'Wangedigala Falls',
 'Bulathkohupitiya Falls',
 'Kithulgala River',
 'Kelani River Viewpoints',
 'Mahaweli River Banks',
 'Gin River',
 'Nilwala River',
 'Deduru Oya Reservoir',
 'Rantembe Dam Area',
 'Udawalawa Reservoir',
 'Sorabora Wewa',
 'Kala Wewa',
 'Parakrama Samudraya',
 'Bundala Lagoon',
 'Maduru Oya',
 'Gal Oya',
 'Kirindi Oya',
 'Nawathispane River',
 'Hatton Waterways',
 'Belihuloya River Stretch',
 'Kalu Ganga Banks',
 'Uma Oya Area',
 'Maskeliya Reservoir',
 'Chandrika Wewa',
 'Ridiyagama Reservoir',
 'Gal Oya National Park',
 'Udawatta Kele Sanctuary',
 'Bellanwila Wetland Park',
 'Attidiya Bird Sanctuary',
 'Elephant Transit Home (Udawalawa)',
 'Kosgoda Turtle Hatchery',
 'Madunagala Hot Springs',
 'Girithale Nature Park',
 'Sigiriya Sanctuary',
 'Lahugala Tank Area',
 'Nilgala Forest Area',
 'Nimalawa Sanctuary',
 'Madukanda Wildlife Area',
 'Kokkilai Lagoon Birds',
 'Pomparippu Wetlands',
 'Oddusuddan Forest Area',
 'Tabulam Forest Patch',
 'Nachchaduwa Sanctuary',
 'Galgiriyakanda Forest',
 'Sigiriya Rock Fortress',
 'Anuradhapura Sacred City',
 'Peradeniya Botanical Garden',
 'Delft Island Ruins',
 'Mulkirigala Rock Temple',
 'St. Anneâ\x80\x99s Shrine Talawila',
 'Aluvihara Temple',
 'Seetha Amman Temple',
 'Old Hill Street Police Station',
 'Matara Fort',
 'Batticaloa Dutch Fort',
 'Abhayagiri Dagoba',
 'Lankatilaka Vihara',
 'Royal Palace Ruins',
 'Magul Maduwa Kandy',
 'Degaldoruwa Cave Temple',
 'Kalutara Bodhiya',
 'Sri Pada Temple Area',
 'Tissamaharama Dagoba',
 'Yatala Dagoba',
 'Jaffna Library',
 'Point Pedro Lighthouse',
 'Thirukoneswaram Temple',
 'Koneswaram Viewpoint',
 'Naguleswaram Temple',
 'Kudiramalai Ruins',
 'Mohideen Jumma Mosque Colombo',
 'St. Luciaâ\x80\x99s Cathedral Colombo',
 'Meemure Village',
 'Riverston Forest Trails',
 'Belihuloya Hills',
 'Ohiya Village',
 'Rangala Village',
 'Kalawana Rainforest Area',
 'Rakwana Village',
 'Deniyaya',
 'Madolsima',
 'Mandaram Nuwara',
 'Bogawanthalawa',
 'Maskeliya Rural Trails',
 'Hapugastalawa',
 'Sigiriya Village Trails',
 'Hiriwadunna Village',
 'Dambana (Vedda Village)',
 'Nilaveli Village Trails',
 'Panama Village',
 'Okanda Fishing Village',
 'Kudumbigala Forest Trails',
 'Galenbindunuwewa',
 'Medirigiriya',
 'Aranayaka',
 'Kitulgala Village',
 'Kalpitiya Lagoon Village',
 'Mannar Island Villages',
 'Delft Island Village',
 'Iranamadu Area',
 'Mullaitivu Lagoon',
 'Kokilai Fishing Villages',
 'Kuchchaveli Village',
 'Kitharana Rural Area',
 'Moragahapallama',
 'Wilgamuwa Village',
 'Padiyathalawa',
 'Lahugala Village',
 'Siyambalanduwa',
 'Monaragala Countryside',
 'Buttala Rural Fields',
 'Thanamalwila Village',
 'Udawalawa Village',
 'Sevanagala Sugarcane Area',
 'Inginiyagala',
 'Bibile',
 'Maha Oya',
 'Rambukkana Rural',
 'Mawanella Rural Hills',
 'Galaha Village',
 'Madulkele',
 'Rattota',
 'Kilinochchi Countryside',
 'Omantai',
 'Vavuniya Nature Spots',
 'Panduwasnuwara Ruins',
 'Nikaweratiya',
 'Alawwa',
 'Nikadalupotha',
 'Warakapola',
 'Mahawewa Village',
 'Kongala Forest',
 'Kataragama Jungle Trails',
 'Weheragala Reservoir Area',
 'Kuchchaveli Coastal Forest',
 'Madampe Lagoon',
 'Rekawa Lagoon',
 'Galmadugama',
 'Handapanagala Lake Area',
 'One Galle Face Mall â\x80\x93 Colombo 02',
 'Colombo City Centre (CCC) â\x80\x93 Colombo 02',
 'Crescat Boulevard â\x80\x93 Colombo 03',
 'Liberty Plaza â\x80\x93 Colombo 03',
 'Majestic City (MC) â\x80\x93 Colombo 04',
 'Marino Mall â\x80\x93 Colombo 03',
 'Arcade Independence Square â\x80\x93 Colombo 07',
 'Dutch Hospital Shopping Precinct â\x80\x93 Colombo Fort',
 'Racecourse Shopping Complex â\x80\x93 Colombo 07',
 'Pettah Market Complex â\x80\x93 Colombo 11',
 'Unity Plaza â\x80\x93 Colombo 04',
 'Liberty Arcade',
 'Parliament Grounds View Area',
 'Beira Lake Walk',
 'Nelum Pokuna Theatre',
 'BMICH',
 'Odel Mall â\x80\x93 Kandy',
 'Jaffna Market',
 'Cargills Square â\x80\x93 Jaffna']

In [ ]:
missing_df = pd.DataFrame(
    missing_destinations.tolist(),
    columns=["Missing Destinations"]
)

missing_df.to_csv(
    "missing_destinations.csv",
    index=False,
    encoding="utf-8"
)

print("CSV saved successfully!")

CSV saved successfully!